body {
  font-family: aleoregular;
  font-size: 100%;
  font-size: 1em;
  min-height: 640px;
}

/* basic elements */

h1, h2, h3, h4, h5, h6 {
  font-family: aleobold;
}

h2 {
  font-family: aleobolditalic;
}

a {
  color: #EE6F44;
  text-decoration: none;
}

footer {
  background-color: #FDEDCC;
  padding-bottom: 20px;
}

#social-footer a {
 margin-right: 6px;
}

/* colors */

.yellow-f {
  color: #EE6F44;
}

.yellow-b {
  background-color: #EE6F44;
}

.dk-grey-f {
  color: #30122C;
}

.dk-grey-b {
  background-color: #30122C;
}

.lt-grey-f {
  color: #FDEDCC;
}

.lt-grey-b {
  background-color: #FDEDCC;
}

.poster {
  font-family: aleoregular;
}

.divider-block {
  margin: 0;
  height: 1em;
  border: none;
}

.wtd-block, .locale-block {
  padding: 7.5%;
}

.wtd-block, .locale-block, .divider-block {
  width: 38m;
}

.poster-the {
  font-family: aleolight;
}

.poster-write, .poster-docs, .poster-orgeon {
  font-family: aleobold;
}

#home {
  margin-top: 40px;
}

section {
  margin-bottom: 80px;
}

section.content .span8 {
  padding: 40px;
}

section.content h1 {
  display: inline-block;
  padding: 10px 20px;
  text-align: right;
  width: 90%;
  font-family: aleolight;
  margin-left: -40px;
}

section.content p {
  margin-bottom: 20px;
}

@media (max-width: 320px) {
  section.content .span8 {
    padding: 10px;
  }
  section.content h1 {
    margin-left: -10px;
  }
}

.radio.inline+.radio.inline {
  margin-left: 0px;
}

.radio.inline {
  margin-right: 10px;
}

/* Yellow theme content section */

.yellow-sec .span8 {
  background-color: #EE6F44;
  color: #30122C;
}

.yellow-sec h1 {
  background-color: #FDEDCC;
}

.yellow-sec a, .yellow-sec .btn-link {
  color: #FDEDCC;
}
.yellow-sec form a {
  color: #08c;
}

/* Dark Gray theme content section */

.dkgray-sec .span8 {
  color: #FDEDCC;
  background-color: #30122C;
}

.dkgray-sec h1 {
  background-color: #EE6F44;
  color: #30122C;
}

.dkgray-sec h2, .dkgray-sec h3, .dkgray-src h4 {
  color: #ffffff;
}

.dkgray-sec a, .dkgray-sec .btn-link {
  color: #EE6F44;
}


/* Light Gray theme content section */

.ltgray-sec .span8 {
  background-color: #fdedcc;
  color: #30122c;
}

.ltgray-sec h1 {
  background-color: #EE6F44;
  color: #30122C;
}

.ltgray-sec h2, .ltgray-sec h3, .ltgray-src h4 {
  color: #000000;
}

.ltgray-sec a, .dkgray-sec .btn-link {
  color: #EE6F44;
}
