@font-face {
    font-family: 'Hagin Caps Thin';
    src: url('../../font/hagin-caps-thing-webfont.eot');
    src: url('../../font/hagin-caps-thing-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/hagin-caps-thing-webfont.woff') format('woff'),
         url('../../font/hagin-caps-thing-webfont.ttf') format('truetype'),
         url('../../font/hagin-caps-thing-webfont.svg#hagin_caps_thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
