@font-face {
    font-family: 'Poly';
    src: url('../../font/poly-italic-webfont.eot');
    src: url('../../font/poly-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/poly-italic-webfont.woff') format('woff'),
         url('../../font/poly-italic-webfont.ttf') format('truetype'),
         url('../../font/poly-italic-webfont.svg#polyitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poly';
    src: url('../../font/poly-regular-webfont.eot');
    src: url('../../font/poly-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/poly-regular-webfont.woff') format('woff'),
         url('../../font/poly-regular-webfont.ttf') format('truetype'),
         url('../../font/poly-regular-webfont.svg#polyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

